<h1>WELCOME TO MY ToDo AND ToDo WORKGROUPS APP</h1>
<div class="auth__container auth__sign__in__container">
    <p class="do__you">Don't have any account? then <a href="/register">Register</a></p>
    <form action="/sig" method="POST" class="auth__form">
        <h2>SIGN IN</h2>
        <div class="auth__field__container">
        <div class="auth__field__group">
            <label for="username">Nickname or Email</label>
            <input type="text" name="username" id="username" placeholder="example: bigbbadbear25" required>
        </div>
        <div class="auth__field__group">
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass" required placeholder="secret">
        </div>
        </div>
        <input type="submit" class="auth__submit" value="Sign in">
    </form>
</div>